@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior: none;
	overflow: overlay;
}

main::after {
	@apply pointer-events-none absolute inset-0 z-0 w-full max-w-[192rem] bg-[bottom_center] bg-repeat opacity-10 content-[""];

	-webkit-mask-image: radial-gradient(
		56.04% 56.2% at 50% 40%,
		rgb(0, 0, 0, 0) 40%,
		rgba(0, 0, 0, 1) 100.94%
	);
	background:
		linear-gradient(to right, rgba(0, 0, 0, 0.2) 0.1rem, transparent 0.1rem)
			center top / 2.9rem 2.9rem repeat,
		linear-gradient(rgba(0, 0, 0, 0.2) 0.1rem, transparent 0.1rem);

	background-size: 1.4rem 1.4rem;
}
